
<div class="all_events_container">
<% @data['events']['event'].each do |event| %>
	
	

	<form method="POST" action="/search/music_save">
	<input name="authenticity_token" type="hidden" value="token_value">
	<div class="event">

		<div class="logo_container">

			<% unless event['image'].nil? %>
				<img class="logo" src="<%= event['image']['large']['url']%>">
			<% end %>
		

		</div>

		<div class="date_container">

			<% start_time = Time.now %>
			<% x = event['start_time'].split(" ") %>
			<% date = x[0].split("-") %>
			<% time = x [1] %>
			<% end_time = x[0] %>


			<h1><%= date[1]+ "/" + date[2] + "/" + date[0] %></h1>
			<h1><%= time %></h1>
			<h3><%= TimeDifference.between(start_time, end_time).in_days %> days</h3>
			<input type="hidden" name="start_time" value="<%=event['start_time']%>" />


		</div>

		<div class="event_info">

			<h1><%= event['title'] %><br></h1>
			<input type="hidden" name="title" value="<%=event['title']%>"/>
			<input type="hidden" name="unique_id" value="<%=event['id']%>"/>

			<% unless event['performers'].nil? %>
				<h2 class="bio"><%= event['performers']['performer']['short_bio'] %></h2>
				<input type="hidden" name="description" value="<%= event['performers']['performer']['short_bio'] %>" />
			<% end %>

			<h3><%= event['venue_address'] %></h3>
			<h3><%= event['venue_name'] %></h3>

			<button>Save</button>

		</div>
	</div>
	</form>

<% end %>
</div>


