<h1>Search NFL games near you!<h1>

<%= form_tag("/search/nfl", method: "POST") do %>


<select name = "nfl">
<% @button.each do |x| %>
<option value = "<%= x %>"><%= x %> </option>
<% end %>

<%= submit_tag("Search") %>
<% end %>

<% if @title %>
	<% for x in 0.. @title.length-1 do %>
		<a href = "/search/nfl/<%= @id[x] %>"> <li style = "font-size: 10px"> <%= @title[x] %> <%= @event_date[x] %> </li></a>
		<img src = "<%= @image %>"></img><img src = "<%= @final[x] %>"></img><%= form_tag("/search/nfl", method: "POST") do %><%= submit_tag("Save")%><% end %>
	<% end %>
<% end %>