<head>
    <script type="text/javascript">
        $("document").ready(function(){
            $("button").hover(function(){
                $("#pikachu").attr("src", "http://vignette3.wikia.nocookie.net/deathbattlefanon/images/0/0a/PikachuVictory.png/revision/latest?cb=20150402190248")
                    }, function(){
                $("#pikachu").attr("src", "http://img2.wikia.nocookie.net/__cb20140410200723/pokemon/images/archive/1/16/20150102074354!025Pikachu_OS_anime_10.png")
            });

        });
    </script>

</head>



<body class="game">        
    <br><br>
        <h1 id="head"> Search results for <%= @search %> </h1>
    <br><br>

<div class="container">
    <div class="pure-g">
        <% @games.each do |x| %>
            <div class="pure-u-10-24 animated zoomIn" id="gamebox">
                <div class="pure-u-11-24">
                    <img class='pure-img' id="game_img" src='<%= x["image"]["small_url"] %>'>
                </div>
                <div class="pure-u-11-24">
                    <h3> Release date: <br><%= x["expected_release_month"] %>/<%= x["expected_release_day"] %>/<%= x["expected_release_year"] %></h3>
                </div>
                <div class="pure-u-1-1" id="desc">
                    <h1> Title: <%= x["name"] %> </h1>
                    <p> Description: <%= x["deck"] %> </p>
                <form action='/search/gameresults' method='POST'>
                    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
                    <input type='hidden' name='title' value='<%= x["name"] %>'>
                    <input type='hidden' name='description' value='<%= x["deck"] %>'>
                    <input type='hidden' name='date' value='<%= x["expected_release_month"] %>/<%= x["expected_release_day"] %>/<%= x["expected_release_year"] %>'>
                    <input type='hidden' name='pic' value='<%= x["image"]["small_url"] %>'>
                    <input type='hidden' name='unique_id' value='<%= x["id"]%>'>
                    <button class="pure-button pure-button-primary">add</button>
                </form>
                <br><br><br>
                </div>
            </div>
        <% end %>
            <div class="pure-u-1-1">
                <img id="pikachu" src="http://img2.wikia.nocookie.net/__cb20140410200723/pokemon/images/archive/1/16/20150102074354!025Pikachu_OS_anime_10.png">
            </div>
    </div>
</div>    
</body>